* { box-sizing: border-box; }

*:focus { outline: none!important; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.left { float: left; }
.right { float: right; }

body {
	font: 400 14px/16px 'PF Agora Sans Pro', sans-serif;
	background: #ffffff;
	color: #26282C;
	min-width: 970px;
	-webkit-text-size-adjust: 100%;
	padding: 41px 0 0;
}

.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
}
section {
	position: relative;
	z-index: 2;
	min-width: 970px;
}

.visible-xs { display: none; }

header {
	position: relative;
	z-index: 3;
	height: 41px;
	background: #D8DCE4;
	position: fixed;
	top: 0; right: 0; left: 0;
}
	header .title {
		font-size: 20px;
		line-height: 41px;
		color: #231944;
	}
		header .title span {
			text-transform: uppercase;
			font-weight: 300;
		}
	header .links ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		header .links ul li {
			float: left;
			padding: 0 0 0 32px;
		}
			header .links ul li a {
				color: #404E5C;
				text-decoration: none;
				font-size: 14px;
				line-height: 41px;
				font-weight: 500;
			}
				header .links ul li a:hover,
				header .links ul li a:focus {
					text-decoration: none;
					border-bottom: 1px solid #404E5C;
					color: #404E5C;
				}

section.intro {
	background: #f1f1f3;
	padding: 0 0 40px;
	overflow: hidden;
}
	section.intro .container { z-index: 2; }
	section.intro .section-title {
		font-size: 64px;
		line-height: 72px;
		font-weight: 100;
		color: #1d3379;
		padding: 103px 0 12px;
	}
	section.intro .get-in {
		display: block;
		width: 154px;
		font-size: 18px;
		line-height: 38px;
		font-weight: 500;
		text-align: center;
		text-decoration: none;
		color: #f77b71;
		background: #ffffff;
		border: 1px solid #E1DEDE;
	}
		section.intro .get-in:hover {
			color: #ffffff;
			background: #f77b71;
			border: 1px solid #f77b71;
		}
	section.intro .hr {
		margin: 125px 0 36px;
		height: 0px;
		background: #d6d6d7;
	}
	section.intro .col-1 {
		width: 260px;
		font-size: 21px;
		line-height: 27px;
		color: #f77b55;
	}
	section.intro .col-2 { width: 340px; }
	section.intro .col-3 { width: 340px; }
	section.intro .sub-title {
		font-size: 18px;
		line-height: 27px;
		font-weight: 700;
		padding: 0 0 14px;
	}
	section.intro ul {
		list-style: none;
		font-size: 16px;
		line-height: 27px;
		margin: 0;
		padding: 0;
	}

	section.intro .circle {
		display: block;
		position: absolute;
		z-index: 1;
		background: #cfd9e4;
	}
		section.intro .circle.c1 {
			width: 264px; height: 264px;
			border-radius: 264px;
			opacity: 0.16;
			top: 117px; left: 50%;
			margin: 0 0 0 -813px;
		}
		section.intro .circle.c2 {
			width: 264px; height: 264px;
			border-radius: 264px;
			opacity: 0.16;
			top: 0; left: 50%;
			margin: 0 0 0 548px;
		}
		section.intro .circle.c3 {
			width: 206px; height: 206px;
			border-radius: 206px;
			opacity: 0.16;
			top: -122px; left: 50%;
			margin: 0 0 0 -243px;
		}
		section.intro .circle.c4 {
			width: 38px; height: 38px;
			border-radius: 38px;
			opacity: 0.22;
			top: 93px; left: 50%;
			margin: 0 0 0 33px;
		}
		section.intro .circle.c5 {
			width: 74px; height: 74px;
			border-radius: 74px;
			opacity: 0.38;
			top: 242px; left: 50%;
			margin: 0 0 0 -425px;
		}
		section.intro .circle.c6 {
			width: 38px; height: 38px;
			border-radius: 38px;
			opacity: 0.22;
			top: 303px; left: 50%;
			margin: 0 0 0 -183px;
		}
		section.intro .circle.c7 {
			width: 38px; height: 38px;
			border-radius: 38px;
			opacity: 0.22;
			top: 45px; left: 50%;
			margin: 0 0 0 469px;
		}
		section.intro .circle.c8 {
			width: 38px; height: 38px;
			border-radius: 38px;
			opacity: 0.22;
			top: 334px; left: 50%;
			margin: 0 0 0 509px;
		}

		section.intro .circle.i1 {
			width: 194px; height: 194px;
			border-radius: 194px;
			background: rgba(207, 217, 228, 0.38);
			top: -10px; left: 50%;
			margin: 0 0 0 155px;
		}
			section.intro .circle.i1:after {
				position: absolute;
				top: 20px; left: -45px;
				content: "";
				width: 272px; height: 183px;
				background: url(../img/intro-circle-i1.png) no-repeat;
				background-image: -webkit-image-set(url(../img/intro-circle-i1.png) 1x, url(../img/intro-circle-i1@2x.png) 2x);
			}
		section.intro .circle.i2 {
			width: 154px; height: 154px;
			border-radius: 154px;
			background: rgba(207, 217, 228, 0.38);
			top: 245px; left: 50%;
			margin: 0 0 0 -5px;
		}
			section.intro .circle.i2:after {
				position: absolute;
				top: 13px; left: -35px;
				content: "";
				width: 214px; height: 124px;
				background: url(../img/intro-circle-i2.png) no-repeat;
				background-image: -webkit-image-set(url(../img/intro-circle-i2.png) 1x, url(../img/intro-circle-i2@2x.png) 2x);
			}
		section.intro .circle.i3 {
			width: 136px; height: 136px;
			border-radius: 136px;
			background: rgba(207, 217, 228, 0.38);
			top: 218px; left: 50%;
			margin: 0 0 0 320px;
		}
			section.intro .circle.i3:after {
				position: absolute;
				top: 15px; left: -44px;
				content: "";
				width: 193px; height: 111px;
				background: url(../img/intro-circle-i3.png) no-repeat;
				background-image: -webkit-image-set(url(../img/intro-circle-i3.png) 1x, url(../img/intro-circle-i3@2x.png) 2x);
			}

section.team .section-title {
	font-size: 20px;
	line-height: 84px;
	color: #231944;
}
	section.team .section-title span {
		text-transform: uppercase;
		font-weight: 300;
	}
section.team .men {
	width: 20%;
	text-align: center;
	margin: 0 0 35px;
	line-height: 24px;
}
	section.team .men img {
		display: block;
		width: 111px; height: 111px;
		border-radius: 111px;
		margin: 0 auto 14px;
	}
	section.team .men .name {
		display: inline-block;
		text-decoration: none;
		font-size: 18px;
		color: #213470;
	}
		section.team .men .name:hover {
			text-decoration: none;
			border-bottom: 1px solid #213470;
			color: #213470;
		}
	section.team .men .post {
		font-size: 13px;
		color: #353535;
	}

section.lead .lead-box {
	background: #f1f1f3;
	padding: 0 0 28px 15px;
}
section.lead .section-title {
	text-align: center;
	font-size: 21px;
	line-height: 27px;
	color: #f77b55;
	padding: 24px 0 17px;
}
section.lead ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
	section.lead ul li {
		display: block;
		float: left;
		width: 50%;
		padding: 0 0 0 22px;
		font-size: 16px;
		line-height: 27px;
		color: #26282C;
	}

section.companies { padding: 0 0 55px; }
	section.companies .section-title {
		text-align: center;
		font-size: 21px;
		line-height: 63px;
		color: #f77b55;
		padding: 34px 0 0;
	}
	section.companies .founding-box a {
		display: block;
		float: left;
		height: 44px;
		background: url(../img/founding-logotypes.png) no-repeat;
	}
		section.companies .founding-box a:hover { opacity: 0.8; }
	section.companies .founding-box a.l1 {
		width: 37px;
		margin: 0 56px 0 0;
	}
	section.companies .founding-box a.l2 {
		width: 44px;
		margin: 0 59px 0 0;
		background-position: -37px 0;
	}
	section.companies .founding-box a.l3 {
		width: 117px;
		margin: 0 51px 0 0;
		background-position: -81px 0;
	}
	section.companies .founding-box a.l4 {
		width: 128px;
		margin: 0 49px 0 0;
		background-position: -198px 0;
	}
	section.companies .founding-box a.l5 {
		width: 124px;
		margin: 0 54px 0 0;
		background-position: -326px 0;
	}
	section.companies .founding-box a.l6 {
		width: 112px;
		margin: 0 35px 0 0;
		background-position: -450px 0;
	}
	section.companies .founding-box a.l7 {
		width: 74px;
		background-position: -562px 0;
	}

	section.companies .founding-box a.l8 {
		width: 80px;
		margin: 10px 29px 0 0;
		background-position: 0 -44px;
	}
	section.companies .founding-box a.l9 {
		width: 105px;
		margin: 10px 30px 0 0;
		background-position: -95px -44px;
	}
	section.companies .founding-box a.l10 {
		width: 95px;
		margin: 10px 25px 0 0;
		background-position: -200px -44px;
	}
	section.companies .founding-box a.l11 {
		width: 120px;
		margin: 10px 35px 0 0;
		background-position: -295px -44px;
	}
	section.companies .founding-box a.l12 {
		width: 120px;
		margin: 10px 35px 0 0;
		background-position: -415px -44px;
	}
	section.companies .founding-box a.l13 {
		width: 103px;
		margin: 10px 21px 0 0;
		background-position: -638px 0;
	}
	section.companies .founding-box a.l14 {
		width: 142px;
		margin: 10px 0 0 0;
		background-position: -611px -44px;
	}

	section.companies .press-box a {
		display: block;
		float: left;
		height: 31px;
		background: url(../img/press-logotypes.png) no-repeat;
	}
		section.companies .press-box a:hover { opacity: 0.8; }
	section.companies .press-box a.p1 {
		width: 75px;
		margin: 0 44px 0 0;
	}
	section.companies .press-box a.p2 {
		width: 133px;
		margin: 0 40px 0 0;
		background-position: -75px 0;
	}
	section.companies .press-box a.p3 {
		width: 254px;
		margin: 0 48px 0 0;
		background-position: -208px 0;
	}
	section.companies .press-box a.p4 {
		width: 91px;
		margin: 0 39px 0 0;
		background-position: -462px 0;
	}
	section.companies .press-box a.p5 {
		width: 53px;
		margin: 0 42px 0 0;
		background-position: -553px 0;
	}
	section.companies .press-box a.p6 {
		width: 121px;
		background-position: -606px 0;
	}

footer {
	background: #f1f1f3;
	padding: 0 0 25px;
}
	footer .container .left.f { width: 50%; }
	footer .container .right.f { width: 390px; }
	footer .section-title {
		padding: 18px 0 0;
		font-size: 21px;
		line-height: 41px;
		color: #f77b55;
	}
	footer .fields {
		font-size: 16px;
		line-height: 27px;
	}
		footer .fields .item { margin: 0 25px 0 0; }
			footer .fields .item span { font-weight: bold; }
			footer .fields a.tw {
				color: #3fa6ff;
				text-decoration: none;
			}
				footer .fields a.tw:hover {
					color: #3fa6ff;
					text-decoration: underline;
				}
				footer .fields a.tw i {
					display: inline-block;
					vertical-align: top;
					width: 20px; height: 16px;
					margin: 6px 4px 0 0;
					background: url(../img/twitter-icon.png) no-repeat;
					background-image: -webkit-image-set(url(../img/twitter-icon.png) 1x, url(../img/twitter-icon@2x.png) 2x);					
				}
			footer .fields a.m {
				color: #26282C;
				text-decoration: none;
			}
				footer .fields a.m:hover {
					color: #26282C;
					text-decoration: underline;
				}
	footer .form-box input {
		float: left;
		display: block;
	}
	/* footer .form-box input[type=email] */
	input#mce-EMAIL {
		width: 270px;
		font-size: 15px;
		line-height: 28px;
		border: 1px solid #d6d6d6;
		height: 30px;
		padding: 0 10px;
		border-radius: 2px;
	}
	footer .form-box input[type=submit] {
		margin: 0 0 0 2px;
		font-size: 15px;
		line-height: 28px;
		font-weight: bold;
		border: none;
		color: #ffffff;
		background: #f77b55;
		border: 1px solid #f77b55;
		width: 118px;
		padding: 0;
		cursor: pointer;
		border-radius: 2px;
	}
		footer .form-box input[type=submit]:hover {
			color: #f77b55;
			background: #ffffff;
		}
	footer .form-box .add {
		font-size: 13px;
		line-height: 27px;
		color: #5b5b5b;
	}
	footer .hr {
		margin: 30px 0 25px;
		height: 1px;
		background: #d6d6d7;
	}
	footer .copyrights {
		line-height: 30px;
		color: #5d5d5d;
	}
	footer .city {
		line-height: 30px;
		color: #5d5d5d;
	}
		footer .city i {
			display: inline-block;
			vertical-align: top;
			width: 30px; height: 30px;
			margin: 0 12px 0 0;
			background: url(../img/city-icon.png) no-repeat;
			background-image: -webkit-image-set(url(../img/city-icon.png) 1x, url(../img/city-icon@2x.png) 2x);					
		}

@media screen and (max-width: 767px) {
	.visible-xs { display: block!important; }
	.hidden-xs { display: none!important; }

	body, section {
		width: 100%;
		min-width: 0;
		padding: 0;
	}

	.container {
		width: 100%;
		padding: 0 15px;
	}

	section.intro .corp-name {
		font-size: 20px;
		line-height: 41px;
		color: #231944;
		padding: 25px 0 0 25px;
	}
		section.intro .corp-name span {
			text-transform: uppercase;
			font-weight: 300;
		}

	section.intro .section-title {
		font-size: 38px;
		line-height: 50px;
		padding: 10px 0 20px 25px;
	}

	section.intro .get-in { margin: 0 auto; }

	section.intro .hr { margin: 40px 0 35px; }

	section.intro .list-box .left { width: 100%; }
	section.intro .list-box .col-1 {
		text-align: center;
		padding: 0 0 20px;
	}

	section.intro .sub-title { padding: 0 0 0 30px; }
	section.intro ul { padding: 0 0 40px 30px; }
	section.intro ul.alt { padding: 0 0 0 30px; }

	section.team .section-title { padding: 0 0 0 25px; }
	section.team .men { width: 50%; }
	section.team .men:last-of-type { margin-left: 25%; }

	section.lead ul li { width: 100%; }

	section.companies .founding-box {
		font-size: 0;
		text-align: center;
	}
		section.companies .founding-box a {
			display: inline-block;
			vertical-align: top;
			float: none;
			margin: 0 20px 15px!important;
		}

	section.companies .press-box {
		font-size: 0;
		text-align: center;
	}
		section.companies .press-box a {
			display: inline-block;
			vertical-align: top;
			float: none;
			margin: 0 20px 15px!important;
		}

	section.lead .lead-box { padding: 0 15px 20px; }
	section.lead ul li { padding: 0; }

	footer .container .left.f,
	footer .container .right.f {
		float: none;
		padding: 15px 20px;
		width: 100%;
	}

	input#mce-EMAIL {
		width: 100%;
		float: none;
	}

	footer .fields .item { float: none; }

	footer .form-box input[type=submit] {
		margin: 10px auto 5px;
		float: none;
	}

	footer .form-box .add { text-align: center; }
}